// This is just an entrypoint for DMS/XeniaOS' default configs
// Please read the niri and DMS documentation for more info!
// https://yalter.github.io/niri/
// https://danklinux.com/docs/
include optional=true "dms.kdl"
include optional=true "xeniaos.kdl"

// Write your overrides here! Have fun!


